/* URL for background when sleeping https://images-na.ssl-images-amazon.com/images/I/71ut-GH-boL._AC_SX522_.jpg */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Ranchers, sans-serif;
  background-image: url(https://wallpaperaccess.com/full/1128300.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.button {
  margin: 50px 20px 50px 20px;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: teal;
  background-color: lightpink;
  font-family: Ranchers, sans-serif;
  font-weight: bold;
}

.button-evolve {
  margin: 0 50px 10px 100px;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: teal;
  background-color: lightpink;
  font-family: Ranchers, sans-serif;
  font-weight: bold;
}

.button-large {
  margin: 40px;
  padding: 10px;
  border-radius: 30px;
  font-size: 30px;
  font-family: Ranchers, sans-serif;
}

.pet {
  background-color: #ffffff;
  margin: 20px 0 0 0;
  width: 150px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}

#egg {
  width: 100px;
  height: 150px;
  margin: 40px 10px 5px 20px;
}
#subButton {
  color: teal;
  border-radius: 30px;
  font-family: Ranchers, sans-serif;
  margin: 10px 0 0 50px;
}

button:hover {
  cursor: pointer;
  background-color: purple;
}

#result {
  color: black;
  margin: 10px 0 0 50px;
}

#start {
  color: teal;
  position: absolute;
  left: 100px;
  top: 50px;
}
#reset {
  color: teal;
  position: absolute;
  right: 100px;
  top: 50px;
}

.meters {
  margin: 0 auto;
  text-align: center;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
#timer {
  color: teal;
  font-size: 20px;
}

/* #Progress_Status { 
  width: 50%; 
  background-color: #ddd; 
}  */

#hunger {
  width: 20%;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 32px;
  color: black;
}
